/* Matthew Raimondi - Page CSS - 12 February 2019 */

html {
    background: aliceblue;
    font-family: sf_pro_displayregular;
}
body {
    margin-left: 50px;
    margin-right: 50px;
}
h1 {
    color: green;
    border-style: double;
    border-width: 5px;
    border-color: coral;
    border-radius: 4px;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    text-align: center;
}
p {
    font-size: 18px;
    color: lightslategray;
}
img {
    border: 10px solid white;
    border-radius: 30px;
}
/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
  background-color: red;
  padding: 14px 100px;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
}
/* visited link */
a:visited {
  color: white;
  text-decoration: none;
  background-color: pink;
}
/* mouse over link */
a:hover {
  color: red;
  text-decoration: none;
  background-color: white;
}
/* selected link */
a:active {
  color: pink;
  text-decoration: none;
  background-color: white;
}
