html, body {
		background-color: white;
		font-family: sf_pro_displayregular;
}
img {
		border-radius: 4px;
}
h1, p {
		color: #141414;
}
a:link {
		color: deepskyblue;
		text-decoration: none;
		background-color: lightgrey;
		width: 197px;
		border-radius: 4px;
		padding: 14px 0px;
		display: inline-block;
		transition: 0.3s;
}
a:visited {
		color: purple;
}
a:hover {
		color: green;
}
a:active {
		color: lavender;
}
